<template>
  <div class="wrapper">
    <div class="container container_enter" v-if="!isMainPage">
      <span class="enter">
        <a href="" class="enter__elem"  @click.prevent="switchSign('sign-up')">Зарегестрироваться &nbsp;</a> или
        <a href="" class="enter__elem" @click.prevent="switchSign('sign-in')">&nbsp; Войти</a>
      </span>
      <sign-in v-if="sign === 'sign-in'" @addUser="isMainPage = $event.isMainPage, signComplete = $event.signComplete, email = $event.email, uid = $event.uid"></sign-in>
      <sign-up v-else @regSuccess="sign = $event"></sign-up>
    </div>
    <div class="home-page-container"  v-else>
      <main-page :uid="uid"></main-page>
    </div>


  </div>
</template>

<script>

import signIn from './components/signIn.vue'
import signUp from './components/signUp.vue'
import mainPage from './components/mainPage.vue'
export default {
  name: 'app',
  data () {
    return {
      sign: 'sign-in',
      isMainPage: true,
      signComplete: false,
      email: '',
      uid: ''
    }
  },
  components: {
    signIn,
    signUp,
    mainPage
  },
  methods: {
    switchSign(currentSign) {
      this.sign = currentSign;
      $('.sidenav').sidenav();
      var instance = M.Sidenav.getInstance(sidenav);
      instance.open();
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
.wrapper{
  height: 100vh;
}
.container_enter{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.enter{
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  &__elem{
    color: #26a69a;
    cursor: pointer;
    &:hover{
      color: darken(#26a69a, 10%);
    }
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  margin: auto;
  min-width: 350px;
}

</style>
