<template>
  <div class="main-page">
    <div class="card-container">
            <div class="card blue-grey darken-1" v-for="(film, index) in data.films" :key="film">
              <div class="card-content white-text">
                <span class="card-title">{{film}}</span>
                <!-- <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p> -->
              </div>
              <div class="card-action">
                <!-- <a href="#">Kinopoisk</a> -->
                <a href="" @click.prevent="removeFilm(index)"><i class="material-icons">delete</i></a>
              </div>
            </div>
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <div class="input-field col s12">
                          <input id="name" type="email" class="validate" v-model="title">
                          <label for="name">Название фильма</label>
                        </div>
                        <!-- <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" v-model="filmInfo"></textarea>
          <label for="textarea1">Рецензия</label>
        </div>
        <div class="input-field col s12">
                  <input id="kinopoisk" type="email" class="validate" v-model="kinopoiskLink">
                  <label for="kinopoisk">Ссылка на кинопоиск</label>
                </div> -->
              </div>
              <div class="card-action">
                <a class="btn-floating btn-large cyan" @click.prevent="addFilm"><i class="medium material-icons">add</i></a>
              </div>
            </div>
    </div>
  </div>

</template>
<script>
export default{
  name: 'main-page',
  data(){
    return{
      title: '',
      data: {
        films: [],
        currentFilm: 'Фильм не выбран...',
        numberOfCurrentFilm: null
      }
    }
  },
  props: ['uid'],
  methods:{
    addFilm(){
      if(this.title){
        this.data.films.push(this.title);
      }
      this.title = '';
    },
    removeFilm(index){
      this.data.films.splice(index, 1);

      // if(this.data.numberOfCurrentFilm === index) {
      //   this.data.numberOfCurrentFilm = 'Фильм не выбран...';
      //   this.data.numberOfCurrentFilm = null;
      // }
      for (let i = 0; i < this.data.films.length; i++) {
        if(this.data.currentFilm === this.data.films[i]){
          this.data.numberOfCurrentFilm = i;
        }
      }
    }
  }
}
</script>
<style lang="scss">
.home-page-container{
  padding: 10px;
}
.card-container{
  display: flex;
flex-wrap: wrap;
}
.card{
  max-width: 300px;
  margin: 10px;
  min-width: 300px;
}
.card-action{
  display: flex;
align-items: center;
justify-content: space-between;
}

</style>
