<template>
  <div class="row center">
    <form class="col s12 m6 form" @submit.prevent="registerUser">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" required v-model="user.email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" required v-model="user.password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="submit-password" type="password" class="validate" required v-model="user.confirmPassword">
          <label for="submit-password">Submit Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light" type="submit">Отправить
      <i class="material-icons right">send</i>
    </button>
        </div>
      </div>


    </form>
  </div>
</template>

<script>
  export default{
    name: 'sign-up',
    data(){
      return{
        user:{
          email: '',
          password: '',
          confirmPassword: ''
        },
        error: false
      }
    },
    methods:{
      registerUser() {
        if(this.user.password !== this.user.confirmPassword || this.user.password < 6){
          this.error = true;
          M.toast({html: 'Упс что то не совпадает, проверь пароли или почту:)'})
        }else{
          firebase.auth().createUserWithEmailAndPassword(this.user.email, this.user.password)
          .then( () =>{
            this.$emit('regSuccess', 'sign-in');
          })
          .catch(function(error) {
  // Handle Errors here.
  var errorCode = error.code;
  var errorMessage = error.message;
  console.log('errorCode',errorCode);
  console.log('errorMessage',errorMessage);
});
        }

      }
    }
  }
</script>
