<template>
<div class="row center">
  <form class="col s12 m6 form" @submit.prevent="enterUser">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input id="icon_prefix" type="text" class="validate" required v-model="user.email">
        <label for="icon_prefix">Email</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">security</i>
        <input id="icon_telephone" type="password" class="validate" required v-model="user.password">
        <label for="icon_telephone">Password</label>
      </div>
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light" type="submit" name="action">Войти
    <i class="material-icons right">send</i>
  </button>
      </div>

    </div>

  </form>
</div>
</template>
<script>
export default {
  data(){
    return{
      user:{
        email: '',
        password: ''
      }
    }
  },
  methods:{
    enterUser(){
      firebase.auth().signInWithEmailAndPassword(this.user.email, this.user.password)
      .then(response => {
        console.log(response);
        const sett = {
          email: response.email,
          uid: response.uid,
          isMainPage: true,
          complete: true
        }
        this.$emit('addUser', sett);
      })
      .catch(function(error) {
  // Handle Errors here.
  var errorCode = error.code;
  var errorMessage = error.message;
  console.log('errorCode', errorCode);
  console.log('errorMessage', errorMessage);
  M.toast({html: 'Неверный логин или пароль'});
});
    }
  }
}


</script>
